astroid==2.7.3
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
distlib==0.3.6
exceptiongroup==1.1.2
filelock==3.12.2
identify==2.5.24
idna==3.4
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.6.1
msgpack==1.0.2
nodeenv==1.8.0
packaging==23.1
pip==23.1.2
platformdirs==3.8.0
pluggy==1.2.0
pre-commit==3.3.3
psycopg2-binary==2.9.6
pycodestyle==2.10.0
pyflakes==3.0.1
python-dotenv==1.0.0
PyYAML==6.0
requests==2.31.0
setuptools==68.0.0
signalrcore==0.9.5
toml==0.10.2
tomli==2.0.1
urllib3==2.0.3
virtualenv==20.23.1
websocket-client==1.0.0
wheel==0.40.0
wrapt==1.12.1
